/* General Styles */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #f4f4f4;
  background-color: #121212;
  line-height: 1.6;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #363535;
}

header a {
  color: #f4f4f4;
  text-decoration: none;
  margin-left: 15px;
  transition: color border 0.3s;
}

header a:hover {
  color: #ffff00;
  border-bottom: 2px solid #ffff00;
  padding-bottom: 7px;
}

header .active {
  color: #ffff00;
  border-bottom: 2px solid #ffff00;
  padding-bottom: 7px;
}

header .hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

header .hamburger div {
  width: 25px;
  height: 3px;
  background-color: #ffff00;
  margin: 3px 0;
}

/* Footer */
.Footer {
  text-align: center;
  background-color: #1c1c1c;
  padding: 10px;
  color: #b3b3b3;
  background-color: #363535;
}

.Footer .contact a {
  margin: 0 10px;
  color: #ffff00;
  font-size: 1.5rem;
}

/* Home Page */
.home,
.about {
  text-align: center;
  /* padding: 50px 100px; */
  max-width: 900px;
}

.home .hero button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #ffff00;
  color: #121212;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.home .hero button:hover {
  background-color: #fff;
}

.home section h2 {
  text-align: center;
  color: #ffff00;
}

/* About, Contact, Projects, Skills Pages */
.about,
.projects {
  text-align: center;
  padding: 30px 20px;
}

.about h1,
.projects h1 {
  color: #ffff00;
}

/* .projects  */
.project-card {
  margin: 20px auto;
  padding: 15px;
  background-color: #1e1e1e;
  border: 1px solid #444;
  border-radius: 5px;
}

.projects .project-card a {
  color: #ffff00;
  text-decoration: none;
}

.projects .project-card a:hover {
  color: #fff;
}
/* Responsive Design */
@media (max-width: 768px) {
  header .hamburger {
    display: flex;
  }

  header nav {
    display: none;
    flex-direction: column;
    background-color: #1c1c1c;
    position: absolute;
    top: 50px;
    right: 20px;
    width: 200px;
    border-radius: 15px;
    text-align: center;
  }

  header nav.open {
    display: flex;
  }

  header nav a {
    margin: 10px 0;
  }
  header a:hover {
    border-bottom: none;
  }
  header .active {
    border-bottom: none;
  }
}
